/**
 * Disables scroll bounce in
 * Mac Chrome and Safari.
 */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body { margin: 0; font-family: 'Helvetica Neue'; color: #333 }

.title { font-size: 1rem }
.subtitle { font-size: .875rem }
.small { font-size: .75rem }

.m0  { margin: 0 }
.mt0 { margin-top: 0 }
.mr0 { margin-right: 0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left: 0 }

.m1  { margin: .5rem }
.mt1 { margin-top: .5rem }
.mr1 { margin-right: .5rem }
.mb1 { margin-bottom: .5rem }
.ml1 { margin-left: .5rem }

.m2  { margin: 1rem }
.mt2 { margin-top: 1rem }
.mr2 { margin-right: 1rem }
.mb2 { margin-bottom: 1rem }
.ml2 { margin-left: 1rem }

.m3  { margin: 2rem }
.mt3 { margin-top: 2rem }
.mr3 { margin-right: 2rem }
.mb3 { margin-bottom: 2rem }
.ml3 { margin-left: 2rem }

.m4  { margin: 4rem }
.mt4 { margin-top: 4rem }
.mr4 { margin-right: 4rem }
.mb4 { margin-bottom: 4rem }
.ml4 { margin-left: 4rem }

.mxa { margin: 0 auto }

.p1  { padding: .5rem }
.px1 { padding-left: .5rem; padding-right: .5rem }
.py1 { padding-top: .5rem; padding-bottom: .5rem }

.p2  { padding: 1rem }
.px2 { padding-left: 1rem; padding-right: 1rem }
.py2 { padding-top: 1rem; padding-bottom: 1rem }

.p3  { padding: 2rem }
.px3 { padding-left: 2rem; padding-right: 2rem }
.py3 { padding-top: 2rem; padding-bottom: 2rem }

.p4  { padding: 4rem }
.px4 { padding-left: 4rem; padding-right: 4rem }
.py4 { padding-top: 4rem; padding-bottom: 4rem }
.db  { display: block }
.dib { display: inline-block }
.di  { display: inline }
.dn  { display: none }

.center { text-align: center }
.left   { text-align: left }
.right  { text-align: right }

.rel { position: relative }
.abs { position: absolute }
.t0  { top: 0 }
.l0  { left: 0 }
.r0  { right: 0 }
.b0  { bottom: 0 }

.gray     { color: #667 }
.bg-white { background-color: #ffffff }
.bg-light { background-color: #fafafb }
.bg-gray  { background-color: #ececef }
.bg-transparent { background-color: rgba(0,0,0,0) }

.light  { font-weight: lighter }
.normal { font-weight: normal }
.bold   { font-weight: bold }

.bt { border-top:    1px solid #d2d2d4 }
.bb { border-bottom: 1px solid #d2d2d4 }
.br { border-right:  1px solid #d2d2d4 }
.bl { border-left:   1px solid #d2d2d4 }

.half-width { box-sizing: border-box; width: 50% }

.z1 { z-index: 100 }
.z2 { z-index: 200 }

.scroll { overflow-y: scroll; -webkit-overflow-scrolling: touch }

.shadow { box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.08); }

.btn {
  box-sizing: border-box;
  cursor: pointer;
  font-size: .875rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ececef;
  text-align: left;
  background-color: #fff;
  width: 100%;
}

/**
 * Careful - changing default 
 * focus is always risky for
 * accessibility
 */
.btn:hover,
.btn:focus {
  outline: none;
  color: #fff;
  background-color: blue;
}

.btn-icon {
  box-sizing: border-box;
  cursor: pointer;
  transform: translateY(-5px);
  font-size: 1.25rem;
  border: 0;
  background: transparent;
}

.btn-icon:hover,
.btn-icon:focus {
  outline: none;
  color: blue;
}